<!DOCTYPE HTML>
<html lang="sr-Latn-RS">
<head>
	<title>{{block "title" . -}}Red vožnje{{- end}}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
	{{block "style" .}} {{end}}
</head>

<body>
	<header>
		{{block "nav" .}}
		<nav>
			<a href="/">Sve linije</a>
		</nav>
		{{end}}
		<h1>Red vožnje</h1>
		{{block "header" .}}{{end}}
	</header>
	{{block "content" .}}{{end}}
	{{block "footer" .}}<footer></footer>{{end}}
</body>

{{block "js" .}}{{end}}

</html>
